#calculator {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: 3em repeat(5, 40px);
  font-family: 'Roboto Mono';

  justify-content: center;
}

#calculator * {
  background-color: #8191a8;
  border-color: black;
}

#calculator button:hover {
  border-color: #8191c0;
}

#display-holder {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  text-align: right;
  background-color: black;
  font-family: Quantico;
  color: white;
}

#display-holder * {
  background-color: black;
}

#clear {
  grid-column: 1 / 3;
  background-color: red;
  border-color: black;
}

#equals {
  grid-row: 5 / 7;
}

#zero {
  grid-column: 1 / 3;
}

#numpad {
  grid-column: 1 / 4;
  grid-row: 3 / 7;

  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(4, 40px);
}

#numpad * {
  background-color: #474f5b;
}
